#Build
bundle.js
website/build

# Downloads
LibreTask.dmg
LibreTask.exe
LibreTask.AppImage

# Installs
node_modules

# OS-specific
.DS_Store

# Secrets
*.txt
*.env.development.real
*.env.production.real
scripts/secret
INFRASTRUCTURE.md
